<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Data" data-toc-modified-id="Import-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Looking-at-Checkins" data-toc-modified-id="Looking-at-Checkins-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Looking at Checkins</a></span></li><li><span><a href="#Users-and-their-friends" data-toc-modified-id="Users-and-their-friends-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Users and their friends</a></span></li><li><span><a href="#Dataframe-for-Scottsdale,-with-power-users-only" data-toc-modified-id="Dataframe-for-Scottsdale,-with-power-users-only-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Dataframe for Scottsdale, with power users only</a></span><ul class="toc-item"><li><span><a href="#Adding-category-columns" data-toc-modified-id="Adding-category-columns-1.0.3.1"><span class="toc-item-num">1.0.3.1&nbsp;&nbsp;</span>Adding category columns</a></span></li><li><span><a href="#Adding-attribute-columns" data-toc-modified-id="Adding-attribute-columns-1.0.3.2"><span class="toc-item-num">1.0.3.2&nbsp;&nbsp;</span>Adding attribute columns</a></span></li><li><span><a href="#Adding-review-topics-columns" data-toc-modified-id="Adding-review-topics-columns-1.0.3.3"><span class="toc-item-num">1.0.3.3&nbsp;&nbsp;</span>Adding review topics columns</a></span></li><li><span><a href="#Adding-a-target-column" data-toc-modified-id="Adding-a-target-column-1.0.3.4"><span class="toc-item-num">1.0.3.4&nbsp;&nbsp;</span>Adding a target column</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Import Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style(style='whitegrid')
import matplotlib.pyplot as plt
import os, re, operator, warnings
warnings.filterwarnings('ignore')  # Let's not pay heed to them right now

In [3]:
#sets the default options for viewing pandas dataframes
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 200)
#pd.set_option('display.width', 100)
pd.set_option('display.max_info_columns', 50)

In [2]:
path = '../data/'

In [3]:
df = pd.read_csv(f'{path}/raw/restaurant_reviews.csv', parse_dates=['date'])
df.columns

Index(['user_id', 'business_id', 'rev_stars', 'date', 'text', 'useful',
       'funny', 'cool', 'bus_id', 'name', 'neighborhood', 'address', 'city',
       'state', 'postal_code', 'latitude', 'longitude', 'bus_stars',
       'review_count', 'is_open', 'categories'],
      dtype='object')

In [4]:
#drop the bus_id columns, it's a duplicated of business_id
df = df.drop(columns='bus_id')

In [6]:
#add a new colomn which calculates the number of characters in a given review
df['weekday'] = df.date.apply(lambda x: x.weekday())
df['text length'] = df['text'].apply(len)
#add a year column
df['year'] = df.date.apply(lambda x: x.year)

In [7]:
scottsdale = df[df.city == 'Scottsdale']

In [8]:
print(f'Number of Users: {scottsdale.user_id.unique().shape[0]}')
print(f'Number of Restaurants: {scottsdale.business_id.unique().shape[0]}')
print(f'Number of Reviews: {scottsdale.text.unique().shape[0]}')

Number of Users: 76011
Number of Restaurants: 1322
Number of Reviews: 173062

In [10]:
stops = ['Restaurants', 'Food', 'Nightlife']
scottsdale['split_categories'] = scottsdale.categories.apply(lambda x: x.split(';'))
scottsdale['string_categories'] = scottsdale.split_categories.apply(lambda x: ' '.join(x))
scottsdale.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,longitude,bus_stars,review_count,is_open,categories,weekday,text length,year,split_categories,string_categories
284656,-XoCb6sUMa7NoFayUW0FlA,-01XupAWZEXbdNbxNg5mEg,1,2016-09-03,Horrible! Had the happy hour nachos. The che...,2,1,0,"""18 Degrees Neighborhood Grill""",NaN,...,-111.881925,3.0,77,1,Sports Bars;Nightlife;Restaurants;American (Tr...,5,154,2016,"[Sports Bars, Nightlife, Restaurants, American...",Sports Bars Nightlife Restaurants American (Tr...
284657,chIaX_-1XMQQ8VCkgQruRg,si0aURvXxdwP04oJqkr_zA,3,2017-08-04,I was excited to try a new spot but was mostly...,0,0,0,"""Juan Jaime's Tacos and Tequila""",NaN,...,-111.904356,4.0,218,1,Mexican;Restaurants,4,316,2017,"[Mexican, Restaurants]",Mexican Restaurants
284658,XuuUQeBcibvbFvWyFhFz5Q,wMN68wTTlu8hADAF3FkKTw,5,2017-10-03,Really good food portions were kind of small a...,1,0,0,"""Taj Mahal""",NaN,...,-111.927495,4.5,189,1,Vegetarian;Indian;Restaurants,1,168,2017,"[Vegetarian, Indian, Restaurants]",Vegetarian Indian Restaurants
284659,WY4h1VFgVt9nLwfQW2nOjg,K-uQkfSUTwu5LIwPB4b_vg,5,2011-06-30,A really fantastic restaurant experience!\n\nG...,1,0,0,"""The Mission Old Town""",NaN,...,-111.924273,4.0,1659,1,Restaurants;Bars;Nightlife;Mexican;Latin American,3,271,2011,"[Restaurants, Bars, Nightlife, Mexican, Latin ...",Restaurants Bars Nightlife Mexican Latin American
284660,IjX92isMiygZIjWIe1dh5g,Q28MO9hEMyG0xrAnOF-dSw,5,2016-07-10,There were some hiccups at the start of the sh...,0,0,1,"""Stand Up Scottsdale Comedy Club""",NaN,...,-111.925658,4.5,190,0,Arts & Entertainment;Nightlife;Mexican;Restaur...,6,189,2016,"[Arts & Entertainment, Nightlife, Mexican, Res...",Arts & Entertainment Nightlife Mexican Restaur...

### Looking at Checkins

In [14]:
df_check = pd.read_csv(f'{path}/external/yelp_checkin.csv')

In [15]:
df_check.head()

              business_id weekday   hour  checkins
0  3Mc-LxcqeguOXOVT_2ZtCg     Tue   0:00        12
1  SVFx6_epO22bZTZnKwlX7g     Wed   0:00         4
2  vW9aLivd4-IorAfStzsHww     Tue  14:00         1
3  tEzxhauTQddACyqdJ0OPEQ     Fri  19:00         1
4  CEyZU32P-vtMhgqRCaXzMA     Tue  17:00         1

### Users and their friends

In [12]:
df_friends = pd.read_csv(f'{path}/external/yelp_user.csv', parse_dates=['yelping_since'])
df_friends.head()

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
1,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,1,2017-03-02,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
2,mBneaEEH5EMyxaVyqS-72A,Mark,6,2015-03-13,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
3,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,3,2016-09-08,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
4,4E8--zUZO1Rr1IBK4_83fg,Lisa,11,2012-07-16,None,4,0,0,0,None,...,0,0,0,0,0,0,0,0,1,0

In [13]:
#filter the friends dataframe to only include users with friends
df_friends['friends'] = df_friends.friends.apply(lambda x: np.nan if x == 'None' else x)
df_friends = df_friends.dropna()

In [14]:
df_friends.head()

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
17,h5ERTYn2vQ1QbjTZvfWPaA,Bobby,3,2017-01-07,"jYiZnueCr7gVq9T34xoa7g, yFLXGdY6rpHt7hRiwEFMag...",0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
18,jYnkJR3T8yCERXywoVhWYA,Hugo,48,2010-07-06,"hkXekeW_Jj6mIy8r8N7r1Q, dQDpV-VUtwYGqHznuRV-yw...",15,6,2,3,None,...,0,0,0,0,1,1,1,1,2,0
44,fV8Yr0c5tFQTQ2SRRJHXHw,Michelle,50,2007-08-22,"HDb4fBWIAQ-foS8qLJty9w, x0hBZsmBTYxhjjx0MShz1A...",43,12,5,1,2009,...,4,0,0,0,9,7,7,7,4,0
74,aw973Pm1nrTbRjP4zY9B9g,Kenny,762,2008-09-23,"Cit5yho-DqotA0BnXHErTQ, bm2DqfP4P454FjEtCbZdkQ...",174,151,67,27,"2014, 2016, 2013, 2015, 2010, 2012, 2011",...,4,2,7,0,16,52,47,47,14,1

In [15]:
#Further filter the dataframe to only include users with over 200 reviews
df_power_user = df_friends[df_friends.review_count > 200]
#count number of friends
df_power_user['num_friends'] = df_power_user.friends.apply(lambda x: x.count(',') + 1)
df_power_user['year'] = df_power_user.yelping_since.apply(lambda x: x.year)
#list of users with over 200 reviews and friends
power_user = list(df_power_user.user_id.unique())

### Dataframe for Scottsdale, with power users only

In [16]:
sdl_df = df[(df.city == 'Scottsdale') & (df.user_id.isin(power_user))]
sdl_df.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,postal_code,latitude,longitude,bus_stars,review_count,is_open,categories,weekday,text length,year
284676,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",NaN,...,85251,33.495235,-111.929214,3.5,317,0,Seafood;American (New);Restaurants,4,509,2011
284680,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",NaN,...,85255,33.731797,-111.846131,4.0,123,0,Burgers;Restaurants;Hot Dogs;Nightlife;Bars,2,1463,2012
284687,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",NaN,...,85259,33.585577,-111.834405,4.0,114,1,Salad;Restaurants;Soup;Thai,4,394,2011
284690,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",NaN,...,85251,33.493853,-111.925625,4.0,509,1,Hawaiian;Restaurants;Pan Asian,0,560,2015
284691,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",NaN,...,85251,33.498629,-111.922440,4.0,106,1,Shopping Centers;Transportation;Public Service...,0,1027,2013

In [17]:
print(f'Number of Users: {sdl_df.user_id.unique().shape[0]}')
print(f'Number of Restaurants: {sdl_df.business_id.unique().shape[0]}')
print(f'Number of Reviews: {sdl_df.text.unique().shape[0]}')

Number of Users: 3119
Number of Restaurants: 1210
Number of Reviews: 24738

In [19]:
stops = ['Restaurants', 'Food', 'Nightlife']

In [18]:
sdl_df['split_categories'] = sdl_df.categories.apply(lambda x: x.split(';'))
sdl_df.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,latitude,longitude,bus_stars,review_count,is_open,categories,weekday,text length,year,split_categories
284676,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",NaN,...,33.495235,-111.929214,3.5,317,0,Seafood;American (New);Restaurants,4,509,2011,"[Seafood, American (New), Restaurants]"
284680,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",NaN,...,33.731797,-111.846131,4.0,123,0,Burgers;Restaurants;Hot Dogs;Nightlife;Bars,2,1463,2012,"[Burgers, Restaurants, Hot Dogs, Nightlife, Bars]"
284687,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",NaN,...,33.585577,-111.834405,4.0,114,1,Salad;Restaurants;Soup;Thai,4,394,2011,"[Salad, Restaurants, Soup, Thai]"
284690,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",NaN,...,33.493853,-111.925625,4.0,509,1,Hawaiian;Restaurants;Pan Asian,0,560,2015,"[Hawaiian, Restaurants, Pan Asian]"
284691,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",NaN,...,33.498629,-111.922440,4.0,106,1,Shopping Centers;Transportation;Public Service...,0,1027,2013,"[Shopping Centers, Transportation, Public Serv..."

In [20]:
sdl_df['split_categories'] = sdl_df.split_categories.apply(lambda x: [i for i in x if i not in stops])
sdl_df.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,latitude,longitude,bus_stars,review_count,is_open,categories,weekday,text length,year,split_categories
284676,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",NaN,...,33.495235,-111.929214,3.5,317,0,Seafood;American (New);Restaurants,4,509,2011,"[Seafood, American (New)]"
284680,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",NaN,...,33.731797,-111.846131,4.0,123,0,Burgers;Restaurants;Hot Dogs;Nightlife;Bars,2,1463,2012,"[Burgers, Hot Dogs, Bars]"
284687,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",NaN,...,33.585577,-111.834405,4.0,114,1,Salad;Restaurants;Soup;Thai,4,394,2011,"[Salad, Soup, Thai]"
284690,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",NaN,...,33.493853,-111.925625,4.0,509,1,Hawaiian;Restaurants;Pan Asian,0,560,2015,"[Hawaiian, Pan Asian]"
284691,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",NaN,...,33.498629,-111.922440,4.0,106,1,Shopping Centers;Transportation;Public Service...,0,1027,2013,"[Shopping Centers, Transportation, Public Serv..."

In [21]:
sdl_df['string_categories'] = sdl_df.split_categories.apply(lambda x: ' '.join(x))
sdl_df.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,longitude,bus_stars,review_count,is_open,categories,weekday,text length,year,split_categories,string_categories
284676,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",NaN,...,-111.929214,3.5,317,0,Seafood;American (New);Restaurants,4,509,2011,"[Seafood, American (New)]",Seafood American (New)
284680,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",NaN,...,-111.846131,4.0,123,0,Burgers;Restaurants;Hot Dogs;Nightlife;Bars,2,1463,2012,"[Burgers, Hot Dogs, Bars]",Burgers Hot Dogs Bars
284687,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",NaN,...,-111.834405,4.0,114,1,Salad;Restaurants;Soup;Thai,4,394,2011,"[Salad, Soup, Thai]",Salad Soup Thai
284690,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",NaN,...,-111.925625,4.0,509,1,Hawaiian;Restaurants;Pan Asian,0,560,2015,"[Hawaiian, Pan Asian]",Hawaiian Pan Asian
284691,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",NaN,...,-111.922440,4.0,106,1,Shopping Centers;Transportation;Public Service...,0,1027,2013,"[Shopping Centers, Transportation, Public Serv...",Shopping Centers Transportation Public Service...

In [22]:
sdl_df.to_csv(f'{path}/interim/sdl_data.csv', encoding='utf-8')

#### Adding category columns

In [23]:
#Now we'll add categories into our Scottsdale dataframe as columns
all_categories = list(sdl_df.categories.unique())
all_categories = ' '.join(all_categories)
all_categories = all_categories.split(';')

In [24]:
#We'll keep top 100 categories
cats_df = pd.DataFrame(all_categories)
new_cats = list(cats_df.groupby(0).size().sort_values(ascending=False)[0:100].keys())

In [25]:
new_df = sdl_df.join(pd.DataFrame(columns=new_cats))
new_df = new_df.reset_index(drop=True)
new_df.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,Mexican Restaurants,Breweries,Restaurants Burgers,Italian Restaurants,Restaurants Japanese,Home & Garden,Golf,Vietnamese,Jazz & Blues,Restaurants Breakfast & Brunch
0,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
for i in range(0, len(new_cats)):
    new_df[new_cats[i]] = 0

The following code will fill in attributes for each restaurant based on listed categories.

In [27]:
for i in new_cats:
    new_df[i] = new_df.apply(lambda x: 1 if i in x.split_categories else x[i], axis=1)

In [28]:
new_df.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,Mexican Restaurants,Breweries,Restaurants Burgers,Italian Restaurants,Restaurants Japanese,Home & Garden,Golf,Vietnamese,Jazz & Blues,Restaurants Breakfast & Brunch
0,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",NaN,...,0,0,0,0,0,0,0,0,0,0
1,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",NaN,...,0,0,0,0,0,0,0,0,0,0
2,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",NaN,...,0,0,0,0,0,0,0,0,0,0
3,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",NaN,...,0,0,0,0,0,0,0,0,0,0
4,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",NaN,...,0,0,0,0,0,0,0,0,0,0

In [29]:
new_df.shape

(24744, 125)

#### Adding attribute columns

In [30]:
df_att = pd.read_csv(f'{path}/external/yelp_business_attributes.csv')
df_att.head()

,business_id,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,HairSpecializesIn_coloring,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,Na,Na,Na,Na,False,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [31]:
#filter for Scottsdale restaurants
scott_biz = list(new_df.business_id.unique())
scott_att = df_att[df_att.business_id.isin(scott_biz)]
scott_att.head()

,business_id,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,HairSpecializesIn_coloring,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
92,VdlPZg2NAu8t8GkdbPLecg,Na,Na,Na,Na,False,False,False,True,False,...,Na,Na,True,True,True,False,True,True,True,Na
196,Qv0OEziLJwyAqcgtrTsA4w,Na,Na,Na,Na,False,False,False,True,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
359,tCJGEQVqjELLYv3fPNX5Rw,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
365,rv9T1qGHbh9eXqFpKEPy_A,Na,Na,Na,Na,False,False,False,True,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
507,0LKcSabd5Gd5oz-qrHTzZg,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [32]:
scott_att.shape

(1205, 82)

In [33]:
#set the index as business ID and joint to the attributes dataframe
scott_att = scott_att.set_index('business_id')
scott_joined = new_df.join(scott_att, on=['business_id'], how='left')
scott_joined.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",NaN,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",NaN,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",NaN,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",NaN,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",NaN,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [34]:
scott_joined.shape

(24744, 206)

In [35]:
#Cleaning up the values
scott_joined = scott_joined.replace(to_replace='Na', value=np.nan)
scott_joined = scott_joined.replace(to_replace='False', value=0)
scott_joined = scott_joined.replace(to_replace='True', value=1)
scott_joined = scott_joined.fillna(0)
scott_joined.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Adding review topics columns

We'll use our LDA model that was generated in the NLP notebook to add topics to each user's review

In [36]:
#import all libraries
import spacy
from nltk import FreqDist

from gensim.models import CoherenceModel, LdaModel, LsiModel, HdpModel, Phrases
from gensim.models.wrappers import LdaMallet
from gensim.corpora import Dictionary
import pyLDAvis.gensim
from gensim.test.utils import datapath

# Save model to disk.
temp_file = datapath("lda_scott_model")
#lda_model.save(temp_file)

# Load a potentially pretrained model from disk.
lda_model = LdaModel.load(temp_file)

In [37]:
topic_names = {0: u'service',
               1: u'sports bar',
               2: u'vegetarian, cafe',
               3: u'kid friendly',
               4: u'location',
               5: u'secret',
               6: u'sides, vietnamese',
               7: u'greek, hummus',
               8: u'food dishes',
               9: u'table, sit',
               10: u'golf',
               11: u'pizza, italian',
               12: u'dinner',
               13: u'big menue',
               14: u'sushi',
               15: u'bbq',
               16: u'dessert',
               17: u'french',
               18: u'healthy, salad',
               19: u'asian',
               20: u'quality, service',
               21: u'mall, food court',
               22: u'breakfast',
               23: u'burger & fries',
               24: u'wings, bbq',
               25: u'hotel',
               26: u'sushi',
               27: u'cheap, good, service',
               28: u'movie theater',
               29: u'comfort food',
               30: u'mexican',
               31: u'bars',
               32: u'italian',
               33: u'italian',
               34: u'coffee shop',
               35: u'lunch, sandwich',
               36: u'buffet',
               37: u'foreign, authentic',
               38: u'southern',
               39: u'service and seating',
               40: u'steak, dinner',
               41: u'happy hour, drinks',
               42: u'customer service',
               43: u'hard to find',
               44: u'tapas, appetizers',
               45: u'healthy',
               46: u'chinese',
               47: u'lunch',
               48: u'beer, wine, drinks',
               49: u'service'}

In [38]:
nlp = spacy.load('en', disable=['parser', 'ner'])

def lemmatization(texts, tags=['NOUN', 'ADJ', 'VERB']): # filter noun, verb, adjective
       output = []
       for sent in texts:
             doc = nlp(" ".join(sent)) 
            
             output.append([token.lemma_ for token in doc if token.pos_ in tags])
       return output

We'll now load all our saved models

In [39]:
import os
import codecs
models = '../models/'
intermediate_directory = os.path.join(models, 'interim')
bigram_model_filepath = os.path.join(intermediate_directory, 'bigram_model_all')
trigram_model_filepath = os.path.join(intermediate_directory, 'trigram_model_all')
dictionary_filepath = os.path.join(intermediate_directory, 'dictionary_all')

In [40]:
#bigrams.save(os.path.join(bigram_model_filepath, 'bigram_model'))
bigrams = Phrases.load(os.path.join(bigram_model_filepath, 'bigram_model'))
trigrams = Phrases.load(os.path.join(trigram_model_filepath, 'trigram_model'))
dictionary = Dictionary.load(os.path.join(dictionary_filepath, 'dictionary'))

In [41]:
from nltk.corpus import stopwords
my_stops = ['The', 'the', 'www', 'yelp', 'scottsdale', 'http', 
            'com', 'yelp', 'http_www', 'food', 'restaurant', 
            'place', 'good', 'great']
stop_words = stopwords.words('english')
for word in my_stops:
    stop_words.append(word)
# function to remove stopwords

In [42]:
def lda_description(review_text, min_topic_freq=0.05):
    """
    accept the original text of a review and (1) parse it with spaCy,
    (2) apply text pre-proccessing steps, (3) create a bag-of-words
    representation, (4) create an LDA representation, and
    (5) print a sorted list of the top topics in the LDA representation
    """
    topic_list = []
    # remove unwanted characters, numbers and symbols
    processed_review = review_text.replace("[^a-zA-Z#]", " ")
    # remove short words (length < 3)
    processed_review = ' '.join([w for w in processed_review.split() if len(w)>2])
    # make entire processed lowercase
    sample_review = processed_review.lower()
    
    # remove stopwords from the processed
    sample_review = [word for word in sample_review.split() if word not in stop_words]
    tokenized_sample = sample_review
    tags=['NOUN', 'ADJ', 'VERB']
    sample_lemma = [token.lemma_ for token in nlp(' '.join(tokenized_sample)) if token.pos_ in tags]
    
    bigram_reviews_2 = bigrams[sample_lemma]
    
    trigram_reviews_2 = trigrams[bigram_reviews_2]
    
    # create a bag-of-words representation
    review_bow = dictionary.doc2bow(trigram_reviews_2)
    
    # create an LDA representation
    review_lda = lda_model[review_bow]
    sorted_review_lda = sorted(review_lda, key=lambda tub: tub[1], reverse=True)
    #print(sorted_review_lda)
    for topic_num, freq in sorted_review_lda:
        if freq < min_topic_freq:
            break
        #print('{:25}'.format(topic_names[topic_num], format('.2f')))
        topic_list.append(topic_names[topic_num])
    return topic_list

In [43]:
lda_description(scott_joined.text.iloc[0])

['dinner',
 'happy hour, drinks',
 'cheap, good, service',
 'lunch',
 'buffet',
 'healthy']

In [44]:
#generate a topic list for each review in the Scottsdale dataframe
scott_joined['review_topic'] = scott_joined.text.apply(lambda x: lda_description(x))
scott_joined.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService,review_topic
0,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[dinner, happy hour, drinks, cheap, good, serv..."
1,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[table, sit, burger & fries, location, sushi, ..."
2,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[chinese, quality, service, customer service]"
3,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[quality, service, hotel, dinner, happy hour, ..."
4,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[location, bars, dessert]"

In [45]:
#We'll add all the topics as columns into our dataframe
topic_list = list(topic_names.values())
scott_joined = scott_joined.join(pd.DataFrame(columns=list(topic_names.values())))
scott_joined.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,"steak, dinner","happy hour, drinks",customer service,hard to find,"tapas, appetizers",healthy,chinese,lunch,"beer, wine, drinks",service
0,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
#Now fill in the values if a topic appears in a review
for i in topic_list:
    scott_joined[i] = scott_joined.apply(lambda x: 1 if i in x.review_topic else x[i], axis=1)

In [47]:
scott_joined = scott_joined.fillna(0)
scott_joined.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,"steak, dinner","happy hour, drinks",customer service,hard to find,"tapas, appetizers",healthy,chinese,lunch,"beer, wine, drinks",service
0,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Adding a target column

In [48]:
#Add a target column: 1 if a user likes the restaurant (4 and 5 stars) and 0 if user doesn't like it
scott_joined['target'] = scott_joined.rev_stars.apply(lambda x: 1 if x >= 4 else 0)
scott_joined.head()

,user_id,business_id,rev_stars,date,text,useful,funny,cool,name,neighborhood,...,"happy hour, drinks",customer service,hard to find,"tapas, appetizers",healthy,chinese,lunch,"beer, wine, drinks",service,target
0,771OWzbzelsEeSlx8QsfsQ,orMlHMLyHSldYgzfFTaeoA,4,2011-07-15,I really like this place. I have been numerous...,1,0,0,"""Eddie's House""",0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1
1,Pj9YpaP0T7A_5S_PT8IpNg,OtVNeY6IfUh3CIOCzmfg3A,5,2012-08-15,Greasewood Flat is hugely popular with winter ...,4,3,2,"""Greasewood Flat""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
2,7M1zIE6OzpySDlqLU6MnEg,is2RonWgyENNKOprcXQK6w,5,2011-11-04,3 times in 2 weeks should tell you thy this pl...,3,2,2,"""Osha Thai Cafe""",0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
3,9uE0smG2bwgkI95RPj0lPQ,sKrlmbrZWCyLIgiMihCPqw,5,2015-11-16,I still love Hula's! Came here for a celebrat...,1,0,1,"""Hula's Modern Tiki Scottsdale""",0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,iN7T3vQoC3v_MPs2TzH5Zw,ghRXtBi--SW8uWQhrijBjw,4,2013-11-25,"In the daytime, Old Town is a cool destination...",3,0,3,"""Old Town Scottsdale""",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [49]:
scott_joined.to_csv(f'{path}/processed/scottsdale_modeling.csv', encoding='utf-8')